@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Page</h1>
    <p>Here will be a list of all existent fundraisers and an option to create a new fundraiser.</p>
</div>
