@model DonationForm

@using (Html.BeginForm("MakeDonation", "Donation")){
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Donation Form</h2>
        </div>
        <div class="mb-3">
            <label asp-for="Name">Full Name *</label>
            <input asp-for="Name" class="form-control" name="Name"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email">E-mail *</label>
            <input asp-for="Email" class="form-control" name="Email"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PhoneNumber">Phone Number *</label>
            <input asp-for="PhoneNumber" class="form-control" name="PhoneNumber"/>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="DonationAmount">Donation Amount *</label>
            <input asp-for="DonationAmount" class="form-control" />
            <span asp-validation-for="DonationAmount" class="text-danger"></span>
        </div>
        <div class="mb-3">
             <label>Payment Method*</label>
                <hr />
             <label>Credit/Debit Card</label>
            @Html.RadioButtonFor(m => m.DonationType, "Credit/Debit Card")
            <br>
            <label>Bank Account</label>
            @Html.RadioButtonFor(m => m.DonationType, "Bank Account")
        </div>
        <div>
            <button asp-controller="Donation" asp-action="MakeDonation" type="submit" class="btn btn-primary" style="width:150px">Submit</button>
        </div>
        <hr />
    </div>
</form>
}