<p>This page is dedicated to the selected fundraiser.</p>

<table class="table table-borderless" style="width:100%">
    <thead>
        <tr>
            <th>
                Fundraiser Picture
            </th>
            <th>
                Fundraiser Info
            </th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td width="60%">
                <card>

                </card>
            </td>
            <td width="40%">
                <card>
                    <p>
                        Progress bar for collected money
                    </p>
                    <p>
                        Number of donors
                    </p>
                    <p>
                        <a asp-controller="Donation" asp-action="MakeDonation" class="link-primary">DONATE</a>
                    </p>
                    <p>
                        List of recent donors
                    </p>
                </card>
            </td>
        </tr>
    </tbody>
</table>

